TIMESCALE_DB=trader
TIMESCALE_USER=trader
TIMESCALE_PASSWORD=trader123
TIMESCALE_PORT=5432

REDIS_PORT=6379

OLLAMA_HOST=http://host.docker.internal:11434
OLLAMA_MODEL=qwen3:4b

INITIAL_CAPITAL=1000.0
BASE_CURRENCY=USDT
EXCHANGE=binance

MAX_POSITION_PCT=0.20
MAX_DRAWDOWN_PCT=0.10
SLIPPAGE_PCT=0.001
TRADING_FEE_PCT=0.00075

DASHBOARD_PORT=8000
GRAFANA_PORT=3000